.container__table__posts{
    margin: 3vw 20vw;
}

.links__crud{
    display: flex!important;
}

.links__crud img{
    width: 1.5rem;
    margin: 0rem 1rem;
}

.MuiTableCell-root.MuiTableCell-head{
    font-weight: bold;
    text-align:center;
    font-size: 1.2rem;
}

.MuiTable-root{
    background-color: rgba(245, 180, 39, 0.8);
}


.MuiTableCell-root.MuiTableCell-body{
    text-align: center;
    font-family: 'Rubik', sans-serif;
}   