nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #302d28;
}

.logo {
  color: whitesmoke;
}

.link__nav {
  color: #dbdde6;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-image: linear-gradient(#acaebb, #c5c8d8);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.link__nav:hover {
  color: #dcdfec;
  background-size: 100% 3px;
  font-family: 'Rubik', sans-serif;
}

nav img {
  width: 70%;
}

@media only screen and (max-width: 992px) {
  nav {
    padding: 0.5rem;
  }

  .link__nav {
    margin: 0.5rem;
    font-size: 1rem;
  }

  nav img {
    width: 40%;
  }
}

.new-post{
  width: 50px;
}